name: Deploy for code changes

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/**'
      - "src/**/*.py"
      - "src/**/*.sh"
      - "src/slurm-scripts/*.slurm"
      - "**/requirements.txt"
      - "**/environment.yml"
      - "alfred/**/*.py"
      - "env_vars/**"

permissions:
  contents: read
  id-token: write

jobs:
  deploy:
    name: Submit a slurm job
    runs-on: ubuntu-latest

    steps:
      - name: SSH into login node and copy environment variables
        env:
          CONDA_PREFIX: $HOME/.local/conda/envs/research_proj/etc/conda
          PROJECT_ROOT: $HOME/AdaptPolicies
          GITHUB_SHA: ${{ github.sha }}
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.HOSTNAME }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.PRIVATE_KEY }}
          envs: ENV_PREFIX,PROJECT_ROOT,GITHUB_SHA
          script: |
            cd $PROJECT_ROOT
            git checkout main
            git stash push -u -m "github-actions-$(date +%s)" || true
            git fetch origin
            git reset --hard $GITHUB_SHA

            cp env_vars/activate_env_vars.sh $CONDA_PREFIX/activate.d/env_vars.sh
            cp env_vars/deactivate_env_vars.sh $CONDA_PREFIX/deactivate.d/env_vars.sh

      - name: Run slurm jobs
        uses: ./.github/workflows/run-slurm-jobs.yml
