name: Workflow to run slurm jobs

on:
  workflow_call:

permissions:
  contents: read
  id-token: write

jobs:
  slurm-scripts-list:
    name: slurm-scripts-list
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@v4
      - id: set-matrix
        run: echo "matrix=$(ls ./src/slurm-scripts/*.slurm | jq -R -s -c 'split("\n")[:-1]')" >> "$GITHUB_OUTPUT"

  run-slurm-job:
    name: Submit a slurm job 
    needs: slurm-scripts-list
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      max-parallel: 1
      matrix: 
        slurm-script: ${{ fromJson(needs.slurm-scripts-list.outputs.matrix) }}
        env: [matrix_env]
        include:
          - env: matrix_env
            HOSTNAME: ${{ secrets.HOSTNAME }}
            USER: ${{ secrets.USER }}
            PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}


    steps:
      - name: SSH into login node and submit the job
        uses: appleboy/ssh-action@v1
        env: 
          GITHUB_SHA: ${{ github.sha }}
          SLURM_SCRIPT_PATH: ${{ matrix.slurm-script }}
          PROJECT_ROOT: /home-mscluster/${{ matrix.USER }}/AdaptPolicies
          HOME: /home-mscluster/${{ matrix.USER }}
        with: 
          host: ${{ matrix.HOSTNAME }}
          username: ${{ matrix.USER }}
          key: ${{ matrix.PRIVATE_KEY }}
          envs: HOME,PROJECT_ROOT,GITHUB_SHA,SLURM_SCRIPT_PATH
          script: |
            echo '--- Syncing local repo ---'
            cd $PROJECT_ROOT
            git stash push -u -m "github-actions-$(date +%s)"
            git fetch origin
            git reset --hard $GITHUB_SHA

            jobname=$(basename -- $SLURM_SCRIPT_PATH ".slurm") 
            jobdir=$HOME/slurm-logs/${jobname}

            if [ ! -d "$jobdir" ]; then
              echo '--- Creating job dir ---'
              mkdir $jobdir
            fi
            
            echo '--- Submitting job $jobname ---'
            sbatch $SLURM_SCRIPT_PATH

