name: Workflow to run slurm jobs

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/**'
      - "src/**/*.py"
      - "src/**/*.sh"
      - "src/slurm-scripts/*.slurm"
      - "**/requirements.txt"
      - "**/environment.yml"
      - "alfred/**/*.py"
      - "env_vars/**"

permissions:
  contents: read
  id-token: write

jobs:
  run-slurm-job:
    name: Submit a slurm job 
    runs-on: ubuntu-latest
    timeout-minutes: 30
    env:
      HOME: /home-mscluster/${{ secrets.USER }}

    steps:
      - name: SSH into login node and submit the job
        uses: appleboy/ssh-action@v1
        env: 
          GITHUB_SHA: ${{ github.sha }}
          CONDA_PREFIX: ${{ env.HOME }}/.local/conda/envs/research_proj/etc/conda
          PROJECT_ROOT: ${{ env.HOME }}/AdaptPolicies
          SLURM_SCRIPTS_PREFIX: ${{ env.HOME }}/AdaptPolicies/src/slurm-scripts
          SLURM_LOGS_PREFIX: ${{ env.HOME }}/slurm-logs
          OLLAMA_CLOUD_API_KEY: ${{ secrets.OLLAMA_CLOUD_API_KEY }}
          PROJECT_NAME: ${{ secrets.PROJECT_NAME }}
          WANDB_API_KEY: ${{ secrets.WANDB_API_KEY }} 

        with: 
          host: ${{ secrets.HOSTNAME }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.PRIVATE_KEY }}
          envs: HOME,PROJECT_ROOT,GITHUB_SHA,SLURM_SCRIPTS_PREFIX,SLURM_LOGS_PREFIX,CONDA_PREFIX,OLLAMA_CLOUD_API_KEY,PROJECT_NAME,WANDB_API_KEY
          script: |
            echo ':--- Syncing local repo ---:'
            cd $PROJECT_ROOT
            # git stash push -u -m "github-actions-$(date +%s)"

            echo '--- Fetching latest commit ---'
            git fetch origin --depth=1

            echo '--- Resetting to the latest commit ---'
            git reset --hard $GITHUB_SHA

            echo '--- Copying env_vars files to conda prefix ---'
            cp -v env_vars/activate_env_vars.sh $CONDA_PREFIX/activate.d/env_vars.sh
            cp -v env_vars/deactivate_env_vars.sh $CONDA_PREFIX/deactivate.d/env_vars.sh
            
            cat >> $CONDA_PREFIX/activate.d/env_vars.sh <<EOF
            export OLLAMA_CLOUD_API_KEY=$OLLAMA_CLOUD_API_KEY
            export PROJECT_NAME=$PROJECT_NAME
            export WANDB_API_KEY=$WANDB_API_KEY
            EOF

            cat >> $CONDA_PREFIX/deactivate.d/env_vars.sh <<EOF
            unset OLLAMA_CLOUD_API_KEY
            unset PROJECT_NAME
            unset WANDB_API_KEY
            EOF

            for slurm_script in "$SLURM_SCRIPTS_PREFIX"/*.sh; do
              echo "--- Found $slurm_script ---"
              if [ -f "$slurm_script" ]; then
                jobname=$(basename -- "$slurm_script" ".sh") 
                jobdir=$SLURM_LOGS_PREFIX/$jobname

                if [ ! -d "$jobdir" ]; then
                  echo "--- Creating job dir for $jobname ---"
                  mkdir $jobdir
                fi
                
                echo "--- Submitting job $jobname ---"
                job_id=$(sbatch $slurm_script | awk '{print $NF}')
                scontrol show job $job_id
              fi
            done

